# no result files from execution
**/*.dat
**/*.pgm

# no executable
main
percolate
test

# no fortran module files
**/*.mod

# no helper script for displaying .pgm files
display.sh

# no profiling script
gmon.out
